@use "../base/" as *;

.navigation {
  justify-self: end;
  width: clamp(200px, 50%, 400px);

  &-container {
    height: 100%;
    width: 100%;
    @include universal-flex-display(space-evenly, center);
  }
}

@include media-750 {
  .navigation {
    justify-self: center;
  }
}
