@use "../base/" as *;

.navigation {
  @include universal-flex-display(end, flex-start);

  &-container {
    height: 100%;
    width: 100%;
    max-width: 400px;
    @include universal-flex-display(space-between, center);

    li a {
      font-size: 1.1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
