@use "../base/" as *;

.testimonials {
  min-height: 80vh;
  height: max-content;
  padding: 1rem 3rem;
  @include universal-flex-display(center, center);
  margin-bottom: 10rem;

  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    row-gap: 3rem;
  }
}
@include media-1024 {
  .testimonials {
    min-height: 120vh;
    padding: 3rem 1rem;
    @include universal-flex-display(center, flex-start);
  }
}
