@use "./variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: v.$white-neutral;
  font-size: v.$fs-root;
  font-family: v.$ff-body;
}

h1,
h2,
h3 {
  font-family: v.$ff-headings;
}
// h1 {
// }
h2 {
  font-size: clamp(1.3rem, 3.5vw, 2.5rem);
}
// h3 {
// }
p {
  font-size: clamp(0.9rem, 3.5vw, 1.1rem);
}
a {
  text-decoration: none;
  color: v.$white-neutral;
}
li {
  list-style: none;
}

footer {
  background-color: v.$dark-blue-footer-back;
}
